<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>       
        <add name="housing" connectionString="Data Source=172.21.1.203,2433;Initial Catalog=TICKET2000;User ID=housing_user;Password=user_housing1~;Connect Timeout=30; pooling='true';" providerName="System.Data.SqlClient"/>       
    </connectionStrings>
</configuration>